* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*colors*/
  --main-color: #848e97;
  --secondary-color: #ffffff;
  --third-color: #635c73;
  --fourth-color: #323232;
  --btn-color: #8d81ac;
  --bg-color: #f4f4f4;

  /*typography*/
  --main-fontSize: clamp(15px, 1.5vw, 16px);
  --secondary-fontSize: 24px;
  --main-fontWeight: 700;
  --secondary-fontWeight: 400;
  --main-lineHeight: 16px;
  --main--fontFamily: "Montserrat", sans-serif;
  --secondary--fontFamily: "Lato", sans-serif;

  /*border*/
  --border-radius: 40px;
  /*transition*/
  --main-transition: 0.2s ease;
}
/*Navbar*/
.hero {
  position: sticky !important;
  top: 0px;
  left: 0px;
  z-index: 999;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: clamp(80%, 100%, 1300px);
  margin: auto;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
}
.logo > img {
  width: 43px;
  height: 41px;
}
.logo:hover > img {
  transition: var(--main-transition);
  filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%)
    hue-rotate(11deg) brightness(102%) contrast(101%);
}
.logo:hover > h3 {
  transition: var(--main-transition);
  color: var(--secondary-color);
}
.logo > h3 {
  font-family: var(--secondary--fontFamily);
  font-size: var(--secondary-fontSize);
  font-weight: var(--main-fontWeight);
  line-height: var(--main-lineHeight);
  letter-spacing: 1px;
  color: #8d81ac;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.menu1 {
  width: 18px;
  height: 4px;
  margin: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.menu2 {
  margin: 7px;
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.menu3 {
  margin: 7px;
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.list {
  display: flex;
  gap: 3vw;
  color: var(--main-color);
  list-style: none;
  font-family: var(--main--fontFamily);
  font-size: var(--main-fontSize);
  font-weight: var(--main-fontWeight);
  line-height: var(--main-lineHeight);
}
.list > li {
  cursor: pointer;
}
.list > li:hover {
  color: var(--secondary-color);
  transition: var(--main-transition);
}
#toggler,
.hero label {
  display: none;
}
.btn button {
  width: 145px;
  height: 37px;
  color: var(--secondary-color);
  background-color: #8d81ac;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: var(--main-fontSize);
  font-weight: var(--main-fontWeight);
  line-height: var(--main-lineHeight);
}
.mobileBtn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 46px;
  color: var(--secondary-color);
  background-color: #8d81ac;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: var(--main-fontSize);
  font-weight: var(--main-fontWeight);
  line-height: var(--main-lineHeight);
}
.mobileMenu {
  display: none;
}
.mobileList {
  display: flex;
  align-items: center;
  gap: 6vw;
  color: var(--main-color);
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: var(--main-fontSize);
  font-weight: var(--main-fontWeight);
  line-height: var(--main-lineHeight);
}
/*Header*/
header {
  background-image: url("./../images/img\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100dvh;
  position: relative;
}
.headerText {
  padding: 70px 0px;
  text-align: center;
}
.headerText h3 {
  font-size: 82px;
  color: var(--secondary-color);
  line-height: 82px;
}
.headerText p:nth-child(2) {
  font-size: clamp(20px, 2em, 30px);
  line-height: 40px;
  font-family: var(--main--fontFamily);
  font-weight: var(--secondary-fontWeight);
  color: var(--btn-color);
  margin: 5px;
}
.headerText p:nth-child(3) {
  color: var(--main-color);
  font-size: clamp(2em, 5em, 16px);
  font-size: 17px;
  line-height: 16px;
  font-weight: var(--secondary-fontWeight);
}
.homeSecOne {
  text-align: center;
  padding-bottom: 5dvh;
}
.stickyBtn {
  position: absolute;
  width: 100%;
  margin: -31px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.stickyBtn button {
  background-color: var(--btn-color);
  color: var(--secondary-color);
  line-height: 23px;
  font-size: 21px;
  border: none;
  font-weight: var(--main-fontWeight);
  width: clamp(300px, 390px, 390px);
  border-radius: var(--border-radius);
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.stickyBtn button:hover {
  color: var(--btn-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--btn-color);
  font-weight: var(--main-fontWeight);
  transition: var(--main-transition);
}
.stickyBtn div > p {
  margin-top: 25px;
  font-size: 14px;
  color: var(--main-color);
  line-height: 16px;
  font-weight: var(--secondary--fontFamily);
}
.homeSecOne .mainText {
  padding-top: 100px;
  font-size: 50px;
  line-height: 80px;
  color: var(--third-color);
  font-weight: var(--main-fontWeight);
}
.homeSecOne .mainParagraph {
  font-family: var(--secondary--fontFamily);
  font-weight: var(--secondary-fontWeight);
  line-height: 32px;
  font-size: 21px;
  margin: auto;
  width: clamp(58%, 58%, 1008px);
  color: var(--fourth-color);
}
.homeSecOne img {
  margin-top: 30px;
  width: clamp(300px, 365px, 365px);
}
.homeSecTwo {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 4%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
}
.leftContent:first-child {
  margin-top: 0px;
}
.leftContent > .card {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.leftContent > div p {
  max-width: 405.89px;
  width: auto;
  color: #848e97;
  font-size: 14px;
  font-weight: var(--secondary-fontWeight);
  font-family: var(--main--fontFamily);
  line-height: 21px;
}
.leftContent h4 {
  color: var(--fourth-color);
  font-size: var(--main-fontSize);
  font-weight: var(--secondary-fontWeight);
  font-family: var(--main--fontFamily);
  line-height: 21px;
  padding-bottom: 15px;
}
.leftContent .img1 {
  width: 111px;
  height: 62px;
}
.leftContent .img2 {
  width: 90px;
  height: 80px;
}
.leftContent .img3 {
  width: 60px;
  height: 84px;
}
.leftContent .img4 {
  width: 71px;
  height: 71px;
}
.rightContent img {
  max-height: 519px;
  height: auto;
  width: 100%;
  max-width: 700px;
}
.rightContent h1 {
  font-family: var(--main--fontFamily);
  font-size: 40px;
  font-weight: var(--main-fontWeight);
  line-height: 50px;
  color: #8d81ac;
  padding-top: 10px;
}
.mobileText {
  display: none;
  text-align: center;
  font-family: var(--main--fontFamily);
  font-size: 40px;
  font-weight: var(--main-fontWeight);
  line-height: 50px;
  color: #8d81ac;
  padding-top: 10px;
}
.homeSecThree {
  background-image: url("../images/testmonials-bg\ 1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 4%;
}
.homeSecThree h1 {
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  font-weight: 700px;
  font-family: var(--secondary--fontFamily);
  color: var(--secondary-color);
  padding-top: 108px;
  padding-bottom: 80px;
}
.boxes {
  display: grid;
  place-items: center;
  gap: 50px;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.box {
  text-align: center;
}
.box p {
  padding-top: 20px;
  font-family: var(--secondary--fontFamily);
  font-weight: var(--main-fontWeight);
  font-size: 16px;
  width: 345px;
  color: var(--secondary-color);
  line-height: 24px;
  text-align: center;
}
.box1 img {
  width: 165px;
  height: 43px;
}
.box2 img {
  width: 148px;
  height: 50px;
}
.box3 img {
  width: 64px;
  height: 64px;
}
.box4 img {
  width: 225px;
  height: 24px;
}
.box5 img {
  width: 166px;
  height: 34px;
}
.box6 img {
  width: 108px;
  height: 34px;
}
.footerPart {
  font-family: var(--main--fontFamily);
  font-size: 14px;
  color: #a291a5;
  font-weight: var(--secondary-fontWeight);
  line-height: 21px;
  padding-top: 130px;
  width: 80%;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.homeSecThree hr {
  width: 70%;
  margin: auto;
  border: 2px solid #645766;
}
.HomeSecFinal {
  padding-top: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/Layer\ 2\ 1.png");
  padding-bottom: 200px;
  margin-top: -90px;
}
.HomeSecFinal h1 {
  font-size: 46px;
  line-height: 56px;
  text-align: center;
  font-weight: 700px;
  font-family: var(--secondary--fontFamily);
  color: var(--secondary-color);
  padding-top: 108px;
  padding-bottom: 80px;
}
.priceCards {
  display: grid;
  place-items: center;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(4, 257px);
  /* grid-template-columns: repeat(4, minmax(257px, 1fr)); */
  grid-template-rows: repeat(auto-fit, minmax(457px, 1fr));
}
.priceCard {
  text-align: center;
  font-family: var(--main--fontFamily);
}
.cardHead {
  width: 267px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.06);
}
.cardHead p {
  color: var(--secondary-color);
  font-weight: var(--secondary-fontWeight);
  font-size: var(--secondary-fontSize);
  line-height: 24px;
}
.cardBody {
  height: 377px;
  width: 267px;
  background-color: rgb(255, 255, 255, 0.11);

  text-align: center;
  font-family: var(--main--fontFamily);
}
.cardBody h2 {
  font-weight: 500px;
  font-size: 60px;
  line-height: 90px;
  color: var(--secondary-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.text1 {
  font-size: 14px;
  font-weight: var(--secondary-fontWeight);
  line-height: 16px;
  color: var(--secondary-color);
  padding-bottom: 28px;
}
.cardBody hr {
  border: 3px solid #8d81ac;
  width: 25%;
  margin: auto;
}
.text2 {
  padding-top: 28px;
  font-size: 16px;
  font-weight: var(--secondary-fontWeight);
  line-height: 18px;
  color: var(--secondary-color);
  padding-bottom: 55px;
}
.cardBody button {
  width: 163px;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.11);
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: var(--secondary-fontWeight);
  line-height: 18px;
  color: var(--secondary-color);
}
.hrdiv {
  padding-bottom: 40px;
}
.priceCards .priceCard:nth-child(3) {
  height: 560px;
}
.priceCards .priceCard:nth-child(3) .cardHead {
  height: 111px;
  width: 299px;
  background-color: rgb(0, 0, 0, 0.11);
}
.priceCards .priceCard:nth-child(3) .cardBody {
  height: 459px;
  width: 299px;
  background-color: rgb(70, 48, 72, 0.84);
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .navbar {
    background-color: #27262a;
  }
  .homeSecTwo {
    display: block;
    background-color: white;
  }
  .leftContent {
    padding: 0;
    width: 90%;
    margin: auto;
  }
  .leftText {
    width: 80%;
  }
  .leftContent > .card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .leftText p {
    max-width: 800px !important;
  }
  .rightContent {
    margin-top: 50px;
    display: flex;
    justify-content: end;
  }
  .rightContent h1 {
    display: none;
  }
  .rightContent img {
    display: flex;
    justify-content: last baseline;
  }
  .hero {
    background-color: #27262a;
    padding-bottom: 20px;
  }
  .navbar {
    padding: 20px;
  }
  .list {
    display: none;
  }
  .mobileMenu {
    display: flex;
    justify-content: center;
  }
  .headerText {
    padding: 150px 0px;
  }
  .mobileText {
    display: flex;
    justify-content: center;
  }
  .boxes {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  }
  .priceCards {
    grid-template-columns: repeat(2, 257px);
    /* grid-template-columns: repeat(4, minmax(257px, 1fr)); */
    grid-template-rows: repeat(auto-fit, minmax(457px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
  }
  header {
    height: auto;
  }
  .navbar {
    background-color: #27262a;
    max-height: 100px;
  }
  .mobileMenu {
    display: none;
  }
  .btn {
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
  }
  .logo > img {
    width: 60px;
    height: 53px;
  }
  .logo > h3 {
    display: none;
  }
  .menu {
    max-height: 0;
    width: 100%;
    justify-content: left;
    margin: 30px auto;
    align-items: left;
    background-color: #333333;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .list > li {
    padding: 10px;
  }
  .list > li:hover {
    border-left: 5px solid var(--btn-color);
    padding-left: 10px;
    line-height: 10px;
  }
  .navbar label {
    display: inline-block;
    color: white;
    align-items: center;
    transform: scaleX(-1);
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .mobileBtn {
    display: flex;
  }
  .headerText h3 {
    line-height: 150px;
  }
  .headerText p:nth-child(3) {
    line-height: 80px;
    margin-top: 20px;
    font-size: 25px;
  }
  .homeSecOne h3 {
    line-height: 60px;
  }
  .headerText p:nth-child(3) {
    padding-bottom: 250px;
  }
  .homeSecTwo {
    display: block;
    background-color: white;
  }
  .leftContent > .card {
    margin-top: 40px;
    display: block !important;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .leftContent {
    padding: 0;
    width: 90%;
    margin: auto;
  }
  .leftText {
    width: 100%;
  }
  .leftContent > .card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  .leftText p {
    max-width: 800px !important;
  }
  .rightContent h1 {
    display: none;
  }
  .rightContent img {
    display: flex;
    justify-content: last baseline;
  }
  .boxes {
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  }
  .box p {
    width: 80%;
    margin: auto;
  }
  .priceCards {
    grid-template-columns: repeat(1, 257px);
    /* grid-template-columns: repeat(4, minmax(257px, 1fr)); */
    grid-template-rows: repeat(auto-fit, minmax(457px, 1fr));
  }
}
